<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href='/stylesheets/login.css'/>
  </head>
  <body>
    	<form action="/users/login" method="post" class="form1">
    		<div>账号：<input type="text" name="user"/></div>
    		<div>密码：<input type="text" name="pass"/></div>
    		<input type="submit" value="提交" class="sub"/>
    	</form>
  </body>
</html>