<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/register.css' />
  </head>
  <body>
    	<form action="/users/form" method="post" class="form1">
    		<div>账号：<input type="text" name="user"/></div>
    		<div>密码：<input type="text" name="pass"/></div>
    		<div>邮箱：<input type="email" name="email"/></div>
    		<input type="submit" value="提交" class="sub"/>
    	</form>
  </body>
</html>